absl-py
appdirs
attrs
backcall
black
certifi
cffi
chardet
Click
comet-git-pure
comet-ml
configobj
decorator
everett
grpcio
idna
ipython
ipython-genutils
jedi
jsonschema
Markdown
mkl-fft
mkl-random
netifaces
numpy
nvidia-ml-py3
olefile
parso
pep8
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pycparser
Pygments
PyQt5-sip
pyrsistent
PyYAML
requests
six
tensorboard
tensorboardX
toml
torch
torchvision
traitlets
urllib3
wcwidth
websocket-client
Werkzeug
wurlitzer
